.home_page{
  width: 100%;
  min-height: 100vh;
  background-image: url(../../img/Rectangle\ 9.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 50px;
}

body::-webkit-scrollbar {
  width: 7px;     /* Tamaño del scroll en vertical */
  height: 7px; 
  background: #4a4a4a;
}

body::-webkit-scrollbar-thumb {
  background: #FFD600;
  border-radius: 10px;
}

