.filteredBar_container {
    width: 80%;
    padding-top: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;


}

.txtOrder {
    user-select: none;
    font-weight: bold;
}

.order_container {
    width: 400px;
    padding: 2px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    color: #4A4A4A;


}

.typeOrder {
    font-size: 12px;
    user-select: none;
}


.filtered_inputs_container {
    width: 400px;
    padding: 2px 0;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;

}


.filtered_input_continent {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.filtered_input_activity {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.input_continent {
    border-radius: 10px;
    border: 0;
    height: 22px;
    color: #969696;
    outline: none;
    padding-left: 10px;
}

.input_activity {
    border-radius: 10px;
    border: 0;
    height: 22px;
    color: #969696;
    outline: none;
    padding-left: 10px;
}

.button_continent {
    width: 25px;
    height: 25px;
    background-image: url(../../img/America.png);
    background-size: cover;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.button_activity {
    width: 25px;
    height: 25px;
    background-image: url(../../img/Roller\ Skating.png);
    background-size: cover;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.button_sort {
    width: 20px;
    height: 20px;
    background-image: url(../../img/Alphabetical\ Sorting\ 2.png);
    background-size: cover;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 4px;

    transition: 0.6s ease all;
}

.button_sort2 {
    width: 20px;
    height: 20px;
    background-image: url(../../img/Alphabetical\ Sorting2\ 2.png);
    background-size: cover;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 4px;

    transition: 0.6s ease all;
}

.button_sort:hover {
    background-color: #fde56e;
}

.button_sort2:hover {
    background-color: #fde56e;
}

.button_down{
    width: 20px;
    height: 20px;
    background-image: url(../../img/Decline.png);
    background-size: cover;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 4px;

    transition: 0.6s ease all;
}

.button_up{
    width: 20px;
    height: 20px;
    background-image: url(../../img/Up.png);
    background-size: cover;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 4px;

    transition: 0.6s ease all;
}

.button_up:hover{
    background-color: #fde56e;
}

.button_down:hover{
    background-color: #fde56e;
}

.button_reset{
    width: 20px;
    height: 20px;
    background-image: url(../../img/Reset.png);
    background-size: cover;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 4px;

    transition: 0.6s ease all;
}

.button_reset:hover{
    background-color: #fde56e;
}

.divContainerFilterBar {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.divContainerFilterBarButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}





@media (min-width: 768px) and (max-width:1080px){
   
   
    .filteredBar_container {
        height: 80px;
        padding: 20px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
    

    }
   

}


@media (min-width: 280px) and (max-width:767px){
   
   
    .filteredBar_container {
        width: 100%;
        height: 250px;
        padding-top: 0;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-content: center;

    }

    .order_container {
        width: 100%;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #4A4A4A;
    
    }

    .filtered_inputs_container {
        width: 100%;
        height: 50px;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    

    }
   

}





