.landing_page_container{
    width: 100%;
    min-height: 100vh;
    background-image: url(../../img/Desktop\ -\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

	animation: myAnim3 5s ease 0s 1 normal forwards;

}

@keyframes myAnim3 {
	0% {
		background-position: right center;
		background-size: 100%;
	}

	100% {
		background-position: right center;
		background-size: 150%;
	}
}

.landing_title {
    font-size: 7rem;
    color: #FFF;
    margin-bottom: 70px;
    line-height: 110%;

	animation: myAnim 2s ease 0s 1 normal forwards;
}

@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}

	100% {
		opacity: 2;
		transform: translateY(0);
	}
}

.landing_title_sub {
    font-weight: bold;
    text-decoration: underline;
}

.btn_landing {
    color: #FFF;
    letter-spacing: 3px;
}

.btn {
	line-height: 50px;
	height: 50px;
	text-align: center;
	width: 250px;
	cursor: pointer;

	animation: myAnim2 2s ease 0s 1 normal forwards;
}

@keyframes myAnim2 {
	0% {
		opacity: 0;
		transform: translateX(-50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}


.btn-two {
	transition: all 0.5s;
	position: relative;	
    color: #FFF;
}
.btn-two span {
	z-index: 2;	
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;	
}
.btn-two::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.5s;
	border: 1px solid rgba(255,255,255,0.2);
	background-color: rgba(255,255,255,0.1);
}
.btn-two::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.5s;
	border: 1px solid rgba(255,255,255,0.2);
	background-color: rgba(255,255,255,0.1);
}
.btn-two:hover::before {
  transform: rotate(-45deg);
  background-color: rgba(255,255,255,0);
}
.btn-two:hover::after {
  transform: rotate(45deg);
  background-color: rgba(255,255,255,0);
}

